---
title: "Stephanie Mattianna Roe"
layout: splash
header:
  overlay_color: "#000"
  overlay_filter: "0.1"
  overlay_image: /assets/images/example_splash.jpg
intro:
  - excerpt: "I can throw pots better than you.  And farther too.  And my glazes rule the world."
feature_row:
  - image_path: assets/images/Ceramics_main/1.jpg
    alt: "Ceramics"
    title: "Ceramics"
    excerpt: "I am the ceramacist extraordinaire."
    url: ceramics
  - image_path: /assets/images/Hoard/1.jpg
    alt: "Jewelry"
    title: "Jewelry"
    excerpt: "I am the jeweler phenomenal."
    url: jewelry
  - image_path: /assets/images/Me/hiking.jpg
    alt: "About"
    title: "About me"
    excerpt: "Learn more about my artistry."
    url: about
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}
